body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* arrow
.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: center;
}

.btn-toggle.active::before{
  transform: rotate(90deg);
} */
.sidebar {
  width: 68px;
  transition: all 0.5s ease;
  position: sticky;
  overflow-x: hidden;
}

.sidebar:hover{
  width: 230px;
  transition: all 0.3s linear;
}

i{
  width:40px;
}

li{
  padding-left: 10px;
  padding-right: 40px;
  position: relative;
}

li:hover{
  background-color:#EEE;
  border-radius: 5px;
  padding-left: 13px;
  transition: all 0.5s ease;
}

button{
  padding:10px;
}

.subLink{
  position:relative;
  left: 50px;
  text-decoration: none;
  color: rgb(169, 167, 167);
}

.subLink:hover{
  color: black;
  cursor: pointer;
}

.bi{
  font-size: 23px;
  position: relative;
  right: 10px;
}