<div class="container">
    <div class="row flex-lg-row-reverse align-items-center  ">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="./assets/images/logo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">DigitalBerry : Éditeur et intégrateur de solutions de confiance numérique</h1>
        <p class="lead">La confiance numérique est la condition de la réussite de la transformation digitale des entreprises.
            Digitalberry vous accompagne dans la mise en œuvre de solutions de confiance numérique adaptées à vos enjeux métiers : création et gestion des certificats électroniques, authentification forte, signature électronique, archivage à valeur probante et traçabilité des données grâce à la blockchain.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button mat-raised-button  class="button btn-lg px-4 me-md-4" color="primary"  [routerLink]="'/organisation'"> <i class="bi bi-building-fill"> </i> Organisation</button>
          <button mat-raised-button  class="button btn-lg px-4" color="warn" [routerLink]="'/documents'"><i class="bi bi-folder-fill"> </i> Documents</button>
        </div>
      </div>
    </div>
  </div>

  

  