<div class="container"  id="hanging-icons">
  <div class="row align-items-center">
    <h2 class="pb-2 border-bottom col">Dashboard</h2>
    <div class="col text-end m-2">
      <button mat-raised-button class="button " color="primary" (click)="invitation()">
        <i class="bi bi-send-dash-fill"></i> Invitations
      </button>
      <button mat-raised-button class="button m-2" color="warn" (click)="requests()">
        <i class="bi bi-window-dash"></i> Join Requests
      </button>
      <button mat-raised-button class="button " color="link" (click)="sendinvitation()">
        <i class="bi bi-person-add"></i>
      </button>
      <button mat-raised-button class="button m-2" color="link" [routerLink]="'SigingRequest/'">
        <i class="bi bi-vector-pen"></i>Sign Requests
      </button>
    </div>
  </div>
<div class="row">
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2" >
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Documents </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totaldocuments }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="bi bi-file-plus" style="color:rgb(175, 165, 165); font-size: xx-large"></i>                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Documents Added This Month Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          Invitations</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalinvitaitons }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="bi bi-send-dash" style="color: gray; font-size: xx-large;"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Documents Added This Year Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Members
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalmembres }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="bi bi-people-fill" style="color:gray ; font-size: xx-large;" ></i>                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Requests Received Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Requests Received</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalrequests }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="bi bi-person-add" style="color:gray ; font-size: xx-large;"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <app-membres></app-membres>
      </div>
      <div class="col-lg-6">

        <div class="card shadow mb-4 border-0">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Requests</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let request of myrequests" style="margin-bottom: 10px;">
                <img src="https://www.vhv.rs/dpng/d/544-5445462_people-icons-png-flat-person-icon-png-transparent.png" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-start">
                  <div>
                    <h6 class="mb-0">{{ request.requested_by }} send a request </h6>
                    <p class="mb-0">{{ request.message }}</p>
                  </div>
                </div>
                <div class="justify-content-end">
                  <img src="./assets/images/request_warn.png" width="40px" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
        
   <!--        // requested_by ne9ssaaaaaaaaaaaaaaaaa         -->   
        
    
        <div class="card shadow mb-4 border-0">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Invitations</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="list-group">
              <a class="list-group-item list-group-item-action d-flex gap-3 py-3" *ngFor="let invitation of myinvitations" style="margin-bottom: 10px;">
                <img src="https://www.vhv.rs/dpng/d/544-5445462_people-icons-png-flat-person-icon-png-transparent.png" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-start">
                  <div>
                    <h6 class="mb-0">{{ invitation.guest }} received an invitation on  <span> {{ invitation.created_at }}  </span> </h6>
                    <p class="mb-0">{{ invitation.organisation }} - {{ invitation.request_status }}</p>
                  </div>
                </div>
                <div class="justify-content-end">
                  <img *ngIf="invitation.request_status === 'Accepted'" src="./assets/images/invi_accept.png" width="40px" alt="">
                  <img *ngIf="invitation.request_status === 'Rejected'"src="./assets/images/invi_delcine.png" width="40px" alt="">
                </div>
              </a>
            </div>
          </div>
        </div>
        
  </div>
</div>